

/* =====================

Universal Changes 

======================*/

* {
	box-sizing: border-box;
	line-height: 1.47;
	font-family: 'Raleway', sans-serif;
}

header,
.wrapper {
	text-align: center;
}

/* =====================

Header

======================*/


header {
	position: fixed;
	padding: 40px 0;
	background-color: white;
	z-index: 5;
	width: 100vw;
}

input {
	border-radius: 5px;
	border: solid 2.5px #d3d3d3;
}

input,
input:focus  {
	color: gray;
	font-size: 22px;
	padding: 10px;
}

input:focus,
input:active {
	outline-color: #7CFC07;
}

*::-webkit-input-placeholder {
    color: gray;
    font-weight: 200;
    padding-left: 10px;
    display: block;
}

*:-moz-placeholder {
    color: gray;
    font-weight: 200;
    padding-left: 10px;
    display: block;
}

*::-moz-placeholder {
    color: gray;
    font-weight: 200;
    padding-left: 10px;
    display: block;
}

*:-ms-input-placeholder {
   color: gray;
   font-weight: 200;
   display: block;
   padding-left: 10px;
}

/* =====================

Main Content

======================*/

.wrapper {
	margin: 0 auto;
	padding-top: 110px;
	width: 100vw;
}



figure {
	display: inline-block;
}

figcaption {
	max-width: 200px;
	margin: 0 auto 
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	max-width: 565px;
	margin: 0 auto;
}

.gallery figure {
	flex: 1 0 200px;
}

/* =====================

Lightbox

======================*/


#lightbox {
  background: rgba(0,0,0,0.9);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  z-index: 6;
}

#lightbox img {
  margin-top: 10%;
  max-width: 900px;
  max-height: 600px;
}

#lightbox p {
	color: white;
	width: 600px;
	margin: 5% auto;
}



/* =====================

Media Queries

======================*/


@media (min-width: 840px) {
	
	input {
		width: 460px;
	}

	.gallery {
		max-width: 840px;
	}
    

	figure {
		max-width: 200px;
	}

    .gallery img {
    	cursor: pointer;
    }

	figcaption {
		display: none;
	}

	#prev,
	#next {
		position: absolute;
		top: 58%;
		cursor: pointer;
		z-index: 10;
		display: none;
	}

	#prev {
		left: 25%;
	}

	#next {
		right: 25%;
	}

} 

@media (min-width: 1080px) {

    .gallery {
    	max-width: 980px;
    }

	figure {
		margin: 0 60px 60px 0;
	}

	figure:nth-child(4n) {
		margin-right: 0;
	}

	#prev,
	#next {
		top: 25%;
	}

	#prev {
	    left: 5%;
	}

	#next {
		right: 5%;
	}
}

/* Resetting the arrows every now and then to keep them close enough to the lightbox image */

@media (min-width: 1300px) {

	#prev,
	#next {
		top: 25%;
	}

	#prev {
		left: 12%;
	}

	#next {
		right: 12%;
	}
}

@media (min-width: 1550px) {

	#prev,
	#next {
		top: 30%;
	}

	#prev {
		left: 19%;
	}

	#next {
		right: 19%;
	}
}

@media (min-width: 2350px) {

	#prev,
	#next {
		top: 35%;
	}

	#prev {
		left: 28%;
	}

	#next {
		right: 28%;
	}
}


